extends layout

block main-content 
  h1.page-title Welcome to our Shop, Admin! 
  h3.mb-5 Click below to edit or view details
  div.row.mb-5
    div.col-2
      form(action="/items" method="get")
        button(type="submit").btn.btn-secondary.btn-lrg Items
    div.col-2
      form(action="/stores" method="get")
        button(type="submit").btn.btn-secondary.btn-lrg Stores